[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg = {extras = ["binary"], version = "*"}
mypy = "*"
pylint = "*"
python-dotenv = "*"
prettytable = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
twine = ">=1.11.0"

[requires]
python_version = "3.11"

[scripts]
bored = "python main.py"
test = "python -m unittest"
doc_new = "docker compose run --rm bored_api new"
doc_list = "docker compose run --rm bored_api list"
